body {
    background-color:#CCE5FF;
    margin-left:10%;
    margin-right:10%;
}

body center h1 {
    position: fixed;
    z-index:1;
    background-color:#FFFFFF;
    font-size:40px;
    box-shadow:12px 8px 0 black;
    padding:5px;
    left: 37%;

}

/* MENU */
#menu {
    width:900px;
    /* Usunięcie domyślnych cech */
    list-style-type:none;
    margin:0 auto;
    padding:0;
    /* Obramowanie */
    /*border:1px solid #CCC;*/
    background-color:#FDF;
    /* Rozmiar */
    /*width:290px;*/
}

#menu > li {
    float:left;
    width:20%;
    /* Obramowanie */
    /*border-top:1px solid #000;*/
}

#menu li:first-child {
    background-color:white;
}

/*Blok ul ma grubość 0 dlatego jeśli nie dodamy tego dodatkowego bloku to blok tekstu będzie wyświetlany kolo menu */
#menu:after {
    content:'';
    display:block;
    clear:both;
}

#menu > li > a {
    /* Dopasowanie do przycisku */
    display:block;
    /* Usunięcie podkreślenia */
    text-decoration:none;
    /* Dodanie marginesów wewnętrznych */
    padding:15px;
    background-image:linear-gradient(white, #C1C1D7, white);
    color:#305FE2;
    border:1px solid white;
    font-size:18px;
}

#menu > li:hover > a {
    color:#000;
    background-color:#FFF;
    background-image:none;
}

#menu > li {
    position:relative;
}

#menu > li > ul {
    width:100%;
    display:none;
    position:absolute;
    z-index:1;
    margin:0;
    padding:0;
    list-style-type:none;
    background-color:#FFF;
}

#menu > li:hover > ul {
    display:block;
}

#menu > li > ul > li > a {
    border:1px solid black;
    display:block;
    text-decoration:none;
    padding:15px;
    color:#000;
}
#menu > li > ul > li:hover > a {
    color:#00F;
    background-color:#F0F0F0;
    background-image:linear-gradient(#FFFDF3, #D7D7D7, #FFFDF3);
}

#menu > li > ul > li {
    position:relative;
}

#menu > li > ul > li > ol {
    list-style-type:none;
    display:none;
    z-index:1;
    margin:0 auto;
    padding:0;
    background-color:#FFF;
    position:absolute;
    left:100%;
    width:100%;
    margin-top:-50px;
}

#menu > li > ul > li > ol > li > a {
    border:1px solid #000;
    color:#000;
    text-decoration:none;
    font-size:18px;
    display:block;
    padding:4px;
}

#menu > li > ul > li > ol > li:hover > a {
    color:#00F;
    background-color:#F0F0F0;
    background-image:linear-gradient(#FFFDF3, #D7D7D7, #FFFDF3);
}

#menu > li > ul > li:hover > ol {
    display:block;
}

#smokText {
    font-size:16px;
}

#rynekPanorama {
    border:3px solid #000;
    margin-bottom:20px;
    filter:blur(5px);
    /* Chrome, Opera */
    -webkit-filter:blur(0px);
}

#rynekPanorama:hover {
    filter:blur(0px);
    /* Chrome, Opera */
    -webkit-filter:blur(5px);
}
